.page-container {
    font-family: "Medium";
    text-align: center;
    color: white;
    background: radial-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0));
    border-radius: 30px;
    position: relative;
    min-height: 100vh;
    margin: 25px;
    margin-top: 0;
    margin-bottom: 0;
}
.page-text {
    font-family: "Medium";
    text-align: center;
    color: white;
    border-radius: 30px;
    position: relative;
    height:100%;
    width:100%;
    margin-top: 30px;
}
.home-container {
    font-family: "Medium";
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.navbar-color {
    background-color: #ADD8E6;
}

.accountblock {
    font-family: "Medium";
    float: center;
    position: static;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    padding: 0;
}

.accountblock input{
    position: static;
    font-family: "Medium";
    width: 60%;
    height: 4vh;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
}

.accountblock Button{
    position: static;
    font-family: "Medium";
    background-color: white;
    color: #6599ab;
    width: 60%;
    height: 4vh;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
}

.button {
    position: static;
    font-family: "Medium";
    background-color: white;
    color: #6599ab;
    width: 60%;
    height: 4vh;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
}
.button:hover{
    background-color: #6599ab;
    color: white;
    cursor: pointer;
}

.accountblock Button:hover{
    background-color: #6599ab;
    color: white;
    cursor: pointer;
}


.block {
    font-family: "Medium";
    position: relative;
    text-align: center;
    border-radius: 25px;
    width: 70%;
    height:fit-content;
    margin-bottom: 1%;
    background-color:rgba(50,50,50,0.4);
    left: 50%;
    padding: 10px;
    display: block; 
    transform: translate(-50%, 0%);
    font-size: calc(10px + 2vmin);
    color: white;
}

.field {
    font-family: "Medium";
    width: 100%;
    height: 56px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s all;
  }
  .field:hover {
    font-family: "Medium";
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  }